.subscribe-button{
  /*starting with a period targets a class*/
  /*button is the css selector, selecting the css elements we want to target*/
    background-color: rgb(210, 0, 0);
    /*background-color the property that we are changing; red is property's value*/
    
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    /*spacing on the outside of the button; makes button resizable*/
    transition: opacity, 0.15s;
    /*two values, the what, then the duration*/

    vertical-align: top;
    /*normally aligns based on text*/
  }

  .subscribe-button:hover{
    opacity: 0.8;
  }

  .subscribe-button:active{
  /*when clicked*/
    opacity: 0.5;
  }

  .join-button{
    background-color: white;
    border-color: rgb(6,95,212);
    border-style: solid;
    border-width: 1px;
    color: rgb(6,95,212);
    border-radius: 2px;
    /*
    we actually don't  want to set the height and width because that restricts the text
    height: 36px;
    width: 62px;
    */
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    /*padding is the space between text and border*/
    cursor: pointer;
    transition: background-color 0.15s,
      color 0.15s;
    /*if we put transition property to hover, then it only applies when hovering*/
  }

  .join-button:hover{
    background-color: rgb(46, 104, 212);
    color: white;
  }

  .join-button:active{
    opacity: 0.7;
  }

  .tweet-button{
    background-color: #1d9bf0;
    color: white;
    border: none;
    height: 36px;
    width: 74px;

    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
  }

  .tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    /*horizontal position, vertical position, blur, color*/
    /*the a in rgba is the opacity*/
  }

  .tweet-button:active{
    opacity: 0.7;
  }